body {
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}

input[type="button"], input[type="submit"], .skills button.btn, .skills button.btn:hover {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-align: center;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
}

img {
	width: 100%;
}

a:focus, a:hover {
	text-decoration: none;
	outline: none;
}



	#popupBoxOnePosition{
        z-index: 9999;
				top: 0; left: 0; position: fixed; width: 100%; height: 120%;
				background-color: rgba(0,0,0,0.7); display: none;
			}
			#popupBoxTwoPosition{
                        z-index: 9999;

				top: 0; left: 0; position: fixed; width: 100%; height: 120%;
				background-color: rgba(0,0,0,0.7); display: none;
			}
			.popupBoxWrapper{
				width: 550px; margin: 50px auto; text-align: left;
			}
			.popupBoxContent{
				background-color: #FFF; padding: 15px;
			}

.close_image{
    
    width: 10% !important;
    position: relative;
left: 45%;}
/*-- Fonts --*/

@font-face{
	font-family: 'Petitinho';
	src:url("../fonts/Petitinho.ttf") format('truetype');
}

/*-- //Fonts --*/



/*-- Index-Page-Styling --*/

.map {
    background-color: azure;
	position: relative;
	padding: 0;
	background-color: #000;
}

/*-- Slider --*/

.slider {
	position: relative;
	padding: 0;
	background-color: #000;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

a.callbacks_nav {
	display: none;
}

ul.callbacks_tabs {
	display: none;
}

/*-- //Slider --*/



/*-- Slider-Info --*/

.slider-info {
    position: absolute;
    z-index: 1;
}

/*-- //Slider-Info --*/



/*-- Logo --*/

.logo {
	padding: 30px 0 15px 30px;
}

.logo a {
	font-family: century gothic;
	font-size: 50px;
	color: #FFF;
	letter-spacing: 1px;
	line-height: 1;
}

/*-- //Logo --*/



/*-- Navigation-Menu-Effect --*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dr-menu {
    	font-family: century gothic;

    width: 100%;
	max-width: 400px;
	min-width: 300px;
	position: relative;
	font-size: 16px;
	line-height: 2.5;
	font-weight: 400;
	color: #fff;
}

.dr-menu > div  {
	cursor: pointer;
	position: absolute;
	width: 100%;
	/*--w3layouts--*/
	/*--agileits--*/
	z-index: 100;
}

.dr-menu > div .dr-icon {
	top: 0;
	left: 30px;
	position: absolute;
	font-size: 150%;
	line-height: 1.6;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-icon {
	color: #FFF;
	left: 90%;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}

.dr-menu > div .dr-icon:after {
	content: "\e008";
	position: absolute;
	font-size: 50%;
	line-height: 3.25;
	left: -11px;
	opacity: 0;
}

.dr-menu.dr-menu-open > div .dr-icon:after {
	opacity: 1;
}

.dr-menu > div .dr-label {
	padding-left: 3em;
	position: relative;
	display: block;
	color: #FFF;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2.75;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	/*--w3layouts--*/
	/*--agileits--*/
	transition: all 0.2s ease;
}

.dr-menu.dr-menu-open > div .dr-label {
	-webkit-transform: translateY(-90%);
	-moz-transform: translateY(-90%);
	-ms-transform: translateY(-90%);
	transform: translateY(-90%);
}

.dr-menu ul {
	padding: 0;
	margin: 0 5em 0 0;
	list-style: none;
	opacity: 0;
	position: relative;
	z-index: 0;
	pointer-events: none;
	-webkit-transition: opacity 0s linear 205ms;
	-moz-transition: opacity 0s linear 205ms;
	transition: opacity 0s linear 205ms;
}

.dr-menu.dr-menu-open ul {
	opacity: 1;
	z-index: 200;
	pointer-events: auto;
	-webkit-transition: opacity 0s linear 0s;
	-moz-transition: opacity 0s linear 0s;
	transition: opacity 0s linear 0s;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px 0;
}

.dr-menu ul li {
	display: block;
	margin: 0 0 5px 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.dr-menu.dr-menu-open ul li {
	opacity: 1;
}

.dr-menu.dr-menu-open ul li:nth-child(2) {
	/*--w3layouts--*/
	/*--agileits--*/
	-webkit-transition-delay: 35ms;
	-moz-transition-delay: 35ms;
	transition-delay: 35ms;
}

.dr-menu.dr-menu-open ul li:nth-child(3) {
	-webkit-transition-delay: 70ms;
	-moz-transition-delay: 70ms;
	transition-delay: 70ms;
}

.dr-menu.dr-menu-open ul li:nth-child(4) {
	-webkit-transition-delay: 105ms;
	-moz-transition-delay: 105ms;
	transition-delay: 105ms;
}

.dr-menu.dr-menu-open ul li:nth-child(5) {
	-webkit-transition-delay: 140ms;
	-moz-transition-delay: 140ms;
	transition-delay: 140ms;
}

.dr-menu.dr-menu-open ul li:nth-child(6) {
	-webkit-transition-delay: 175ms;
	-moz-transition-delay: 175ms;
	transition-delay: 175ms;
}

.dr-menu.dr-menu-open ul li:nth-child(7) {
	-webkit-transition-delay: 205ms;
	-moz-transition-delay: 205ms;
	transition-delay: 205ms;
}

.dr-menu ul li a {
	display: inline-block;
	padding: 0 30px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.dr-menu ul li a:hover {
	color: #07AF8E;
}

.dr-icon:before, .dr-icon:after {
	/*--stuoyal3w--*/
	/*--stieliga--*/
	position: relative;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.dr-menu ul .dr-icon:before {
	margin-right: 15px;
}

.dr-icon-bullhorn:before {
	content: "\e000";
}

.dr-icon-camera:before {
	content: "\e002";
}

.dr-icon-heart:before {
	content: "\e003";
}

.dr-icon-settings:before {
	content: "\e004";
}

.dr-icon-switch:before {
	content: "\e005";
}

.dr-icon-download:before {
	content: "\e006";
}

.dr-icon-user:before {
	content: "\e001";
}

.dr-icon-menu:before {
	content: "\e007";
}

/*-- //Navigation-Menu-Effect --*/




/*-- Follow --*/

.follow {
        	font-family: century gothic;

	background: url("../images/follow.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 100px 0;
}

.slider3 {
	padding: 0 150px;
	text-align: center;
}

.slider3 img {
	width: 100px;
	margin-left: 44.5%;
}

.slider3 p {
	margin: 150px 0 40px;
	color: #FFF;
	font-size: 16px;
	line-height: 30px;
}

.slider3 a {
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
}

.slider3 a.callbacks_nav {
	display: block;
}

.slider3 .callbacks_nav {
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../images/themes.gif") no-repeat left top;
	margin-top: -45px;
}

.slider3 .callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
}

.slider3 ul.callbacks_tabs.callbacks1_tabs {
	display: none;
}

.slider3 .callbacks_nav {
	left: -40%;
	top: -110px;
}

.slider3 .callbacks_nav.next {
	right: -135%;
	top: -126px;
}

/*-- //Follow --*/



/*-- Social --*/

.social {
    	font-family: century gothic;

	padding: 50px 0;
	background-color: #111314;
	text-align: center;
}

.social p {
	font-size: 25px;
	color: #FFF;
	margin-bottom: 20px;
}

ul.social-icons li {
	display: inline-block;
}

ul.social-icons li a {
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url("../images/img-sprite.png") no-repeat 0px 0px;
	opacity: 0.7;
}

ul.social-icons li a.facebook {
	background-position: 0px -50px;
}

ul.social-icons li a.twitter {
	background-position: -50px -50px;
}

ul.social-icons li a.googleplus {
	background-position: -100px -50px;
}

ul.social-icons li a.instagram {
	background-position: -150px -50px;
}

ul.social-icons li a.youtube {
	background-position: -200px -50px;
}

ul.social-icons li a:hover {
	opacity: 1;
}

/*-- //Social --*/



/*-- Copyright --*/

.copyright {
    	font-family: century gothic;

	padding: 50px 0;
	background-color: #000;
	text-align: center;
}

.copyright p {
	font-size: 15px;
	font-weight: 600;
	color: #FFF;
}

/*-- //Copyright --*/



/*-- Go-To-Top-Button --*/
#toTop {
	z-index: 99999;
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 15px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top.png") no-repeat 0px 0px;
}
/*-- //Go-To-Top-Button --*/
/*--signin-form--*/
.w3 {
    	font-family: century gothic;

    float: left;
    width: 100%;
    margin-right: 4%;
}
.agile {
    font-family: century gothic;
    float: right;
    width: 100%;
}
.signin-form {
    background: url(../images/banner1.jpg)no-repeat 0px 0px;
    background-size: cover;
    padding: 2em 2em;
	text-align: center;
}
.signin-form h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.signin-form h3 span {
    color: #67e1ff;
}
.signin-form img {
    border-radius: 50%;
}
.login-form {
    margin: 1em 0 2.5em;
}
.signin-form input[type="text"], .signin-form input[type="password"] {
    width: 92%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 1em 0;
    outline: none;
    color: #FFF;
    border: none;
    border-bottom: 2px solid #fff;
	letter-spacing: 1px;
	text-align:center;
}
.signin-form input[type="text"] {
    background: none;
    display: block;
}
.signin-form input[type="password"] {
     background: none;
    display: block;
}
::-webkit-input-placeholder{
	color:#fff !important;
}
.signin-form input[type="submit"] {
    outline: none;
    padding: 0.9em 0;
    width: 100%;
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #0b4379;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
	
}
.signin-form input[type="submit"]:hover {
    color: #fff;
    background: #002242;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.signin-form p a {
    font-size: 0.875em;
    color: #fff;
    letter-spacing: 1px;
}
/*--//signin-form--*/
.header-social {
    text-align: center;
    margin-bottom: 2em;
}
.tp {
    margin: 3.7em 0 0;
}
h5 {
    border-left: 1px dotted #7467b9;
    padding: 0.5em;
}
.header-social a.face{
  background:url(../images/fac.png)no-repeat 12px 9px #3B62A3;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2em;
  width: 30%;
  text-align: left;
  margin-right: 0%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  float:left;
  border-radius: 14px 0px 0px 14px;
}
.header-social a.face:hover{
	 background:url(../images/fac.png)no-repeat 12px 9px #0E387C;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*-- w3layouts --*/
.header-social a.goog {
  background:url(../images/google.png)no-repeat 12px 9px #D64639;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2.5em;
  width: 24%;
  text-align: left;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  cursor: pointer;
  outline: none;
  float:left;
  border-radius: 0px 14px 14px 0px;
}
.header-social a.goog:hover {
  background: url(../images/google.png)no-repeat 12px 9px #ff4b3b;
   transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.header-social h4 {
  font-size: 17px;
  color: #6A67CE;
  text-align: center;
  margin: 20px 0px;
  font-family: 'Roboto Condensed', sans-serif;
}
.header-social h4 a{
	color:#6A67CE;
}
.header-social h4 a:hover{
	color:#FFB900;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}